<!DOCTYPE HTML>
<html>
<head>
    <title>Viera || About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <meta name="keywords" content="About."/>
    <meta name="description" content="Rapid diagnosis of diseases and infections using wearable technology."/>
    <link rel="shortcut icon" href="/static/images/lf.png" type="image/x-icon"/>
    <meta name="theme-color" content="#34495e"/>
    <meta name="msapplication-navbutton-color" content="#34495e"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
</head>
<body id="ba">
<nav>
    <label class="logo" id="lo" onclick="easter_egg()">Viera</label>
    <label class="logo1">Next GEN Diagnosis of Infectious Diseases</label>
    <ul id="logo">
        <li id="on"><a href="/">Home</a></li>
        <li id="on"><a class="active" href="/about">About</a></li>
        <li id="on"><a href="/sars">SARS CoV-2</a></li>
        <li><a href="javascript:void(0)" onclick="openNav()" id="menu">Menu</a></li>
    </ul>
</nav>

<div id="nav" class="overlay">
    <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times</a>

    <div class="content">
        <a href="/" style="margin-bottom:30px;">Home</a>
        <a href="/about" style="margin-bottom:30px;">About</a>
        <a href="/sars" style="margin-bottom:30px;">SARS CoV-2</a>
        <a href="/dashboard" style="margin-bottom:30px;">Dashboard</a>
        <a href="/registration" style="margin-bottom:30px;">Sign Up</a>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div id="else" onclick="mast()">
    <div id="about">
        <div id="abc">
            <div id="def" style="box-shadow:0 5px 30px rgba(0, 0, 0, .8);">

                <br>
                <h4>Ver 3.11</h4>
                <br>
                <p>Developed in January 2020 with the intended use as preventive measures against the novel corona virus (Covid-19), mainly focusing on curbing the spread of the virus through early detection, an improved contact tracing model and the overall strict enforcement of social distancing guidelines.</p>
                <br>
                <p>What Is Ver 3.11: Well Ver 3.11 is  a variation of products that checks for bio-markers of Covid-19, it also incorporates several features for monitoring and ensuring limited spread of the virus.</p>
                <br>
                <br>
                <p class="em"><strong style="color:black;">Contact :</strong> mbogocorp@gmail.com</p>
                <p style="margin-top:5px;">Developer : <i>Martin Mbogo</i></p>

            </div>
        </div>
    </div>
</div>


<script src="/static/js/main.js"></script>
</body>
</html>

