<!DOCTYPE HTML>
<html>
<head>
    <title>Bayly || Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="health, AI, artificial intelligence, machine learning, bio sensors, bio-markers, rapid diagnosis."/>
    <meta name="description" content="Rapid diagnosis of diseases and infections using wearable technology."/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="shortcut icon" href="/static/images/lf.png" type="image/x-icon"/>
    <meta name="theme-color" content="#34495e"/>
    <meta name="msapplication-navbutton-color" content="#34495e"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
</head>
<body>
<nav>
    <label class="logo">Bayly</label>
    <label class="logo1">Next GEN Diagnosis of Infectious Diseases</label>
    <ul id="logo">
        <li id="on"><a class="active" href="/">Home</a></li>
        <li id="on"><a href="/about">About</a></li>
        <li id="on"><a href="/sars">SARS CoV-2</a></li>
        <li><a href="javascript:void(0)" onclick="openNav()" id="menu">Menu</a></li>
    </ul>
</nav>

<div id="nav" class="overlay">
    <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times</a>

    <div class="content">
        <a href="/" style="margin-bottom:30px;">Home</a>
        <a href="/about" style="margin-bottom:30px;">About</a>
        <a href="/sars" style="margin-bottom:30px;">SARS CoV-2</a>
        <a href="/dashboard" style="margin-bottom:30px;">Dashboard</a>
        <a href="/registration" style="margin-bottom:30px;">Sign Up</a>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div id="else" onclick="mast()">
    <div id="placeHolder">
        <div id="place">
            <div>
                <br>
                <br>
                <p>Bayly is a kenyan startup with interests in health and artificial intelligence.</p>
            </div>
            <br>
            <div>
                <p>At Bayly we are innovating new ways to diagnose infectious diseases using wearable technology.</p>
                <br>
                <p>Through artificial intelligence AI and bio-sensors incorporated together with machine learning algorithms to note shifts in the body's cellular activity, check for various bio-markers and monitor typical vitals.</p>
            </div>
            <br>
            <p><i>With the technology we can  :</i></p>
            <br>
            <div class="shade">
                <p>Provide the capability of indicating disease manifestations in the early stages. With the aim of reducing fatalities of terminal ailments or fatal diseases, that can be treated if diagnosed early or reduce their symptoms e.g respiratory cancers.</p>
                <p style="text-align:center;"><img class="mig" src="/static/images/leaf.png"></p>
            </div>
            <br>
            <br>
            <div class="shade">
                <p>Give the wearer access to a community of doctors worldwide from various fields of medicine, with the ability to follow up on their case, request concession to assist in the provision of their treatment course or a front row seat on the wearer's health progress as an opportunity for learning.</p>
                <p style="text-align:center;"><img class="mig" style="padding:10px 0 0 0;" src="/static/images/doctor.png"></p>
            </div>
            <br>
            <br>
            <div class="shade">
                <p>Enable people who don't visit the doctors' for a regular checkup to keep tab on their health in real-time.</p>
                <p style="text-align:center;"><img class="mig" src="/static/images/staff.png"></p>
            </div>
            <br>
            <br>
            <div class="shade">
                <p>Provide possible root causes to an ailment and give the wearer a course(s) for treatment or medication. In case of severe ailments or 'special cases' the case may be recommended to specialists worldwide for further analysis.</p>
                <p style="text-align:center;"><img class="mig" src="/static/images/flatline.png"></p>
            </div>
            <br>
            <br>
            <div>
                <p style="text-align:center;"><a class="sars" href="/sars">The Covid-19 Response</a></p>
            </div>
        </div>
    </div>
</div>


<div id="footer">
    <p>&copy Bayly 2020</p>
</div>


<script src="/static/js/main.js"></script>
</body>
</html>