<!DOCTYPE HTML>
<html>
<head>
    <title>Bayly || Covid-19 Response</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <meta name="keywords" content="Covid-19 response, products."/>
    <meta name="description" content="Rapid diagnosis of diseases and infections using wearable technology."/>
    <link rel="shortcut icon" href="/static/images/lf.png" type="image/x-icon"/>
    <meta name="theme-color" content="#34495e"/>
    <meta name="msapplication-navbutton-color" content="#34495e"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
</head>
<body>
<nav>
    <label class="logo">Bayly</label>
    <label class="logo1">Next GEN Diagnosis of Infectious Diseases</label>
    <ul id="logo">
        <li id="on"><a href="/">Home</a></li>
        <li id="on"><a href="/about">About</a></li>
        <li id="on"><a class="active" href="/sars">SARS CoV-2</a></li>
        <li><a href="javascript:void(0)" onclick="openNav()" id="menu">Menu</a></li>
    </ul>
</nav>

<div id="nav" class="overlay">
    <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times</a>

    <div class="content">
        <a href="/" style="margin-bottom:30px;">Home</a>
        <a href="/about" style="margin-bottom:30px;">About</a>
        <a href="/sars" style="margin-bottom:30px;">SARS CoV-2</a>
        <a href="/dashboard" style="margin-bottom:30px;">Dashboard</a>
        <a href="/registration" style="margin-bottom:30px;">Sign Up</a>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div id="else" onclick="mast()">
    <div id="container">

        <div id="main">
            <p id="hy"><i>Our Covid-19 Response.</i></p>

            <p>During this pandemic at Bayly we are finding new ways of reducing risk and minimizing fatalities associated with the Corona Virus. How, you ask ... Through innovative products and our good friend AI.</p>
            <br/>
            <p>They mainly work by checking for Covid-19 bio-markers.</p>

            <br/>
            <p style="text-align:center;"><b><i>The Products</i></b></p>
            <br/>
            <p><i>For individuals:</i></p>
            <br/>
            <br>
            <br>
            <div class="wrist">
                <ul class="offset">
                    <li>Wrist variant. <i>Designed to fit into your every day life.</i></li>
                </ul>

                <p id="profile"><img onclick="joy()" src="/static/images/w.png"></p>

                <div id="frame">
                    <p style="background-color:rgba(231,241,241,.8); padding:6px 10px;">Completely customizable to any case you want with the materials you love. Accessorize with the wrist variant, evade corona virus.</p>
                    <br>
                    <p class="close" onclick="close1()"><b>&times</b></p>
                    <div class="frame">
                        <p><img class="pic" src="/static/images/watch.png"></p>
                        <p class="polaroid"><i>Wrist variant</i></p>
                    </div>

                </div>

            </div>
            <br/>
            <br/>
            <br>
            <br>
            <div class="wrist">
                <ul class="offset">
                    <li>Cap variant. <i>Got you covered with innovative monitoring system.</i></li>
                </ul>

                <p id="profile2"><img onclick="wny()" src="/static/images/c.png"></p>

                <div id="frame2">
                    <p style="background-color:rgba(231,241,241,.8); padding:6px 10px;">Resist corona and keep a cool head.</p>
                    <br>
                    <p class="close" onclick="close2()"><b>&times</b></p>
                    <div class="frame">
                        <p><img class="pic" src="/static/images/cap.png"></p>
                        <p class="polaroid"><i>Cap variant</i></p>
                    </div>

                </div>

            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="wrist">
                <ul class="offset">
                    <li>And now introducing the Arm band variant and Neck variant for the active and stylish lifestyle.</li>
                </ul>

                <div>
                    <p><img id="profile4" onclick="wma()" src="/static/images/capable.png"></p>
                </div>

                <div id="frame4">
                    <p style="background-color:rgba(231,241,241,.8); padding:6px 10px;">Stay far from situations where you may contract the virus with improved in detection and warning systems. Rock it and knock out Corona.</p>
                    <br>
                    <p class="close" onclick="close4()"><b>&times</b></p>

                </div>

            </div>
            <br>
            <br/>
            <br/>

            <p><i>For organizations:</i></p>
            <br/>
            <br>
            <br>
            <div class="wrist">
                <ul class="offset">
                    <li>Top variant. <i>Best suited for schools, shopping and office complexes, places of worship, banks, health care facilities, entertainment spots and places where people gather.</i></li>
                </ul>

                <p id="profile3"><img onclick="chr()" src="/static/images/d.png"></p>

                <div id="frame3">
                    <p style="background-color:rgba(231,241,241,.8); padding:6px 10px;">Protect your students, employees, clients and customers from potential contraction. <br> Specially designed to be mounted on top of posts, door frames and entrances for ease in detection and monitoring in populated place to single out persons from crowds. <br> Can also be fitted  onto matatus, planes and trains.</p>
                    <br>
                    <p class="close" onclick="close3()"><b>&times</b></p>
                    <div class="frame">
                        <p><img class="pic" src="/static/images/doortop2.png"></p>
                        <p class="polaroid"><i>Door top variant</i></p>
                    </div>
                </div>
            </div>
            <br/>
            <br>
            <br>
            <ul>
                <li>And admin monitoring for ensuring your safety and protection should you require immediate medical attention.</li>
            </ul>
            <br/>
        </div>
    </div>
</div>


<div id="footer">
    <p>&copy Bayly 2020</p>
</div>

<script src="/static/js/main.js"></script>
</body>
</html>